season-list .season-title {
    text-align: center;
}

season-list .trophy {
    color: goldenrod;
}

season-list .season-row {
    cursor: pointer;
}

season-list .table > tbody > tr > td {
    vertical-align: middle;
}

season-list .current-season-pointer{
    color: green;
    font-size: 20px;
}

season-list .games-number {
  text-align: center;
}


@media screen and (max-width: 720px){
  .table>tbody>tr>td, .table>tbody>tr>th,
  .table>thead>tr>td, .table>thead>tr>th{
    padding: 8px 15px;
  }
}


