<div class="row">
  <div id="button-panel"
       class="col-md-1">
    <button id="button-back"
            class="btn btn-success"
            ng-click="$ctrl.onBack()">
      {{'BACK_BUTTON' | translate}}
    </button>
  </div>
  <app-edit-game [game-id]="$ctrl.gameId"></app-edit-game>
  <div class="row"></div>
  <uib-tabset active="$ctrl.activeTab">
    <uib-tab index="$ctrl.tabs[0]"
             heading="{{'TEAMS_TAB_NAME' | translate}}"
             ng-click="$ctrl.updateUrlPath($ctrl.tabs[0])">
      <div id="add-team-panel">
        <add-teams ng-if="!$ctrl.isPrivateGame"></add-teams>
        <mhs-private-game-team ng-if="$ctrl.isPrivateGame"></mhs-private-game-team>
      </div>
    </uib-tab>
    <uib-tab index="$ctrl.tabs[1]"
             heading="{{'ROUNDS_TAB_NAME' | translate}}"
             ng-click="$ctrl.updateUrlPath($ctrl.tabs[1])">
      <game-type></game-type>
    </uib-tab>
  </uib-tabset>
</div>
