#weight-label{
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 10px;
}

.switcher {
  position: relative;
  display: inline-block;
  margin: 1px;
  margin-right: 10px;

  height: 30px;
  width: 72px;
  z-index: 1;
}

.switcher-off {
  left: 1px;
  width: 33%;
  height: 100%;
}

.switcher-neutral {
  left: 33%;
  width: 33%;
  height: 100%;
}

.switcher-on {
  right: 1px;
  width: 33%;
  height: 100%;
}

.switcher-label {
  position: absolute;
  text-indent: -9999px;
  z-index: 2;
}

.switcher input {
  visibility: hidden;
  position: absolute;
}

.switcher-slider {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: #ccc;
  transition: background-color 0.2s linear 0s;
}

.switcher-slider:after {
  transition: left 0.2s linear 0s, right 0.2s linear 0s;
  background-color: white;
  content: "";
  position: absolute;
  top: 1px;
  border-radius: 50%;
  margin-top: 2px;
  height: 24px;
  width: 24px;
  left: 24px;
}

.switcher-radio-on:checked ~ .switcher-slider {
  background-color: #81EA89;
}

.switcher-radio-off:checked ~ .switcher-slider {
  background-color: #ED8282;
}

.switcher-radio-on:checked ~ .switcher-slider:after {
  left: 45px;
}

.switcher-radio-neutral:checked ~ .switcher-slider:after {
  left: 24px;
}

.switcher-radio-off:checked ~ .switcher-slider:after {
  left: 3px;
}

app-hint-round-type .team-name {
  overflow: hidden;
  word-wrap: break-word;
  display: block;
}
