<div class="form-group row">
    <ul id="team-list">
        <li ng-repeat="result in $ctrl.results | orderBy: 'teamName'" class="team">
            <label ng-class="{'disabled':$ctrl.isDisabled(result.teamId)}">
                <div class='result-control'>

                    <label>
                            <input class="result-rate form-control" ng-model="result.rate" type="number" min="{{$ctrl.round.roundType.start}}"
                               step="{{$ctrl.round.roundType.step}}" ng-change="$ctrl.onSave(result)">
                    </label>
                    <label class="switch">
                        <input id="season"
                               type="checkbox"
                               ng-model="result.status"
                               ng-change="$ctrl.onSave(result)"
                               ng-model-options="{'updateOn': 'default blur','debounce': {'default': 250,'blur': 0}}"
                               ng-true-value="1"
                               ng-false-value="-1">
                        <span class="slider round"></span>
                    </label>


                </div>
                <div class="team-name">{{result.teamName}}</div>
            </label>
        </li>
    </ul>
</div>


