.add-round{
    margin-bottom: 2%;
}

.table .td-round-number {
    vertical-align: middle;
}

.odd {
  background-color: #f9f9f9;
}

.count-quest {
  margin-top: 5px;
}

.round-input {
  padding-right: 5px;
  padding-left: 5px;
}

.round-row {
  margin: 0px;
}

.btn-drop-round {
  margin-top: 25px;
}

.round-form {
  margin-bottom: 0px;
}
