<table class="table table-sm table-striped table-hover">
    <thead>
    <h1 class="season-title">{{'SEASONS_HEADER' | translate}}</h1>
        <tr class="">
            <th>{{'GAME_SEASON_LABEL' | translate}}</th>
            <th>{{'WINNER_TEAM_LABEL' | translate}}</th>
            <th>{{'NUMBER_OF_GAMES_LABEL' | translate}}</th>
        </tr>
    </thead>
    <tbody>
    <tr class="season-row" ng-repeat="season in $ctrl.seasons | orderBy : '-id'" ng-click="$ctrl.goToSeason(season.id)">
            <td>{{season.name}}</td>
            <td><div ng-repeat="winner in season.seasonWinners">
                <i id="trophy" class="fa fa-trophy"></i> {{winner.teamName}}
            </div></td>
            <td>{{season.numberOfGames}}</td>
        </tr>
    </tbody>
</table>