<div class="col-md-4 col-md-offset-4">
  <ul>
    <li *ngFor="let team of teams; let i = index">
      <div class="team">
        <label>
          Название команды
          <input class="form-control"
                 [(ngModel)]="team.name"
                 required>
        </label>
        <span class="btn btn-danger"
              (click)="removeTeam(i)">
        <i class="fa fa-trash-o"
           aria-hidden="true"></i>
      </span>
      </div>
    </li>
  </ul>
  <div class="form-group">
    <label>
      Название команды
      <input class="form-control"
             type="text"
             [(ngModel)]="newTeamName"
             required>
    </label>
  </div>
  <button class="btn btn-info"
          (click)="addTeam()">
    Добавить команду
  </button>
  <button class="btn btn-info"
          (click)="saveTeams()">
    Save
  </button>
</div>
