<div class="row">
  <div class="btn-panel">
    <div id="back-btn">
      <button class="btn btn-success" ng-click="$ctrl.onBack()">
        {{'BACK_BUTTON' | translate}}
      </button>
    </div>
    <span id="season-name">{{$ctrl.selectedSeason.name}}</span>
    <div id="close-season-panel">
      <button id="close-season-btn" class="btn btn-danger"
              ng-if="$ctrl.isCurrentSeason && $ctrl.admin && !$ctrl.showCloseSeasonAlert"
              ng-click="$ctrl.closeCurrentSeason()">
        {{'CLOSE_SEASON_BUTTON' | translate}}
      </button>
    </div>
  </div>

  <table ng-if=" $ctrl.seasonTeams.length != 0" class="table table-sm table-striped table-hover">
    <caption class="table-header">{{'TEAMS_IN_SEASON' | translate}}</caption>
    <thead>
    <tr>
      <th class="team-position">#</th>
      <th class="team-name">{{'TEAMS_TABLE_HEADER' | translate}} <span class="games-label">{{'GAMES_LABEL' | translate}}:</span>
      </th>
      <th class="game-result" ng-repeat="game in $ctrl.seasonTeams[0].games">
        <a ng-href="/#!/games/{{game.gameId}}/results">{{$index + 1}}</a>
      </th>
      <th class="total-label">{{'TOTAL_TABLE_HEADER' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="team in $ctrl.seasonTeams  | orderBy: '-total' ">
      <td class="team-position">{{team.positionTeam}}</td>
      <td class="team-name">
        <a ng-href="#!/teams/{{team.teamId}}">
          {{team.teamName}}
        </a>
      </td>
      <td class="game-result" ng-repeat="game in team.games">
        {{game.rating}}
      </td>
      <td class="total-label">{{team.total}}</td>
    </tr>
    </tbody>
  </table>

  <table ng-if=" $ctrl.seasonDropTeams.length != 0" class="table table-sm table-striped table-hover">
    <caption class="table-header">{{'TEAMS_OUT_OF_SEASON' | translate}}</caption>
    <thead>
    <tr>
      <th class="team-position">#</th>
      <th class="team-name">{{'TEAMS_TABLE_HEADER' | translate}} <span class="games-label">{{'GAMES_LABEL' | translate}}:</span>
      </th>
      <th class="game-result" ng-repeat="game in $ctrl.seasonTeams[0].games">
        <a ng-href="/#!/games/{{game.gameId}}/results">{{$index + 1}}</a>
      </th>
      <th class="total-label">{{'TOTAL_TABLE_HEADER' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="team in $ctrl.seasonDropTeams  | orderBy: '-total' ">
      <td class="team-position">{{team.positionTeam}}</td>
      <td class="team-name">
        <a ng-href="#!/teams/{{team.teamId}}">
          {{team.teamName}}
        </a>
      </td>
      <td class="game-result" ng-repeat="teamGame in team.gamesArr track by teamGame.gameId"
          ng-class="{'missed-game': !teamGame.played}">
        {{teamGame.rating}}
      </td>
      <td class="total-label">{{team.total}}</td>
    </tr>
    </tbody>
  </table>
  <div class="season-alert" ng-if="$ctrl.seasonTeams.length == 0 && $ctrl.seasonDropTeams.length == 0">
    {{'EMPTY_SEASON_MESSAGE' | translate}}
  </div>
</div>

