<div class="container main">
  <div class="season-header">
    <div class="col-md-4 season-header-back-panel">
      <button class="btn btn-success" ng-click="$ctrl.onBack()">{{'BACK_BUTTON' | translate}}</button>
    </div>
    <span class="col-md-4 season-name">{{$ctrl.selectedSeason.name}}</span>
    <div class="col-md-4 season-header-close-panel">
      <button class="btn btn-danger close-season"
              ng-if="$ctrl.isCurrentSeason && $ctrl.admin && !$ctrl.showCloseSeasonAlert"
              ng-click="$ctrl.showAlert()">
        {{'CLOSE_SEASON_BUTTON' | translate}}
      </button>
    </div>
  </div>

    <div class="season-open-games-alert" ng-if="$ctrl.showCloseSeasonError && $ctrl.hasOpenGames">
        {{'SEASON_OPEN_GAMES_ALERT' | translate}}
    </div>

    <div ng-if="$ctrl.showCloseSeasonAlert && !$ctrl.hasOpenGames"
         class="alert alert-danger season-close-alert" role="alert">
        <p>{{'CLOSE_SEASON_ALERT_QUESTION' | translate}}</p>
        <p>
            <button ng-click="$ctrl.closeCurrentSeason()" type="button" class="btn btn-danger">
                {{'CLOSE_BTN' | translate}}
            </button>
            <button ng-click="$ctrl.showCloseSeasonAlert = false" type="button" class="btn btn-default">
                {{'CANCEL_BTN' | translate}}
            </button>
        </p>
    </div>

  <div ng-if="$ctrl.seasonTeams.length == 0 && $ctrl.seasonDropTeams.length == 0"
       class="col-md-12 season-alert">
        <span>
            {{'EMPTY_SEASON_MESSAGE' | translate}}
        </span>
    </div>

    <table ng-if=" $ctrl.seasonTeams.length != 0" class="table table-sm table-striped table-hover ">
        <caption class="table-caption">{{'TEAMS_IN_SEASON' | translate}}</caption>
        <thead>
        <tr>
            <th class="th-cell position-title">#</th>
            <th class="th-cell teams-title">{{'TEAMS_TABLE_HEADER' | translate}} <span class="games-label">{{'GAMES_LABEL' | translate}}:</span>
            </th>
          <th class="th-cell dragable-icon" ng-repeat="game in $ctrl.seasonTeams[0].games">
                <a class="game-rating" ng-href="/#!/games/{{game.gameId}}/results">{{$index + 1}}</a>
            </th>
            <th class="th-cell total-title">{{'TOTAL_TABLE_HEADER' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-row" ng-repeat="team in $ctrl.seasonTeams  | orderBy: '-total' ">
            <td class="td-cell position-data">{{team.positionTeam}}</td>
            <td class="td-cell">
                <a class="team-name" ng-click="$ctrl.goToTeam(team.teamId)">
                    {{team.teamName}}</a>
            </td>

            <td class="td-cell" ng-repeat="game in team.games">
                {{game.rating}}
            </td>
            <td class="td-cell total-score season-total">{{team.total}}</td>
        </tr>
        </tbody>
    </table>


    <table ng-if="$ctrl.seasonDropTeams.length != 0" class="table table-sm table-striped table-hover ">
        <caption class="table-caption">{{'TEAMS_OUT_OF_SEASON' | translate}}</caption>
        <thead>
        <tr>
            <th class="th-cell position-title">#</th>
            <th class="th-cell teams-title">{{'TEAMS_TABLE_HEADER' | translate}}<span class="games-label">{{'GAMES_LABEL' | translate}}:</span>
            </th>
          <th class="th-cell dragable-icon" ng-repeat="game in $ctrl.seasonTeams[0].games">
                <a class="game-rating" ng-href="/#!/games/{{game.gameId}}/results">{{$index + 1}}</a>
            </th>
            <th class="th-cell total-title">{{'TOTAL_TABLE_HEADER' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-row" ng-repeat="team in $ctrl.seasonDropTeams">
            <td class="td-cell position-data">{{team.positionTeam}}</td>
            <td class="td-cell">
                <a class="team-name" ng-click="$ctrl.getTeamGames(team.teamId);$event.stopPropagation();">
                    {{team.teamName}}
                </a>
            </td>

            <td class="td-cell" ng-repeat="game in team.gamesArr | orderBy:'gameId'">
                {{game.rating}}
            </td>
            <td class="td-cell total-score season-total">{{team.total}}</td>
        </tr>
        </tbody>
    </table>

</div>
