<h1>Sign in!</h1>

    <div class="form-group">
        <label for="email">E-mail</label>
        <input id="email" ng-model='$ctrl.email' type="email" placeholder="E-mail" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" ng-model='$ctrl.password' type="password" placeholder="Password" required>
    </div>
    <button class="btn btn-success" ng-click="$ctrl.login()">Sign in</button>
    <button class="btn btn-success" ng-click="$ctrl.logout()">Sign out</button>
