<div id="create-game-comp" class="container">
    <form name="createForm">
        <div class="col-md-2">
            <div ng-click="$ctrl.ChangeCalendarStatus()">
                <label class="control-label data-picker-label" for="game-calendar">
                    <i id="game-calendar" class="fa fa-calendar fa-2x" aria-hidden="true"></i>
                </label>
                <span> {{$ctrl.gameDate.toLocaleDateString()}}</span>
            </div>
            <div class="picker" ng-show="$ctrl.isCalendarVisible">
                <div uib-datepicker ng-model="$ctrl.gameDate" class="well well-sm"
                     datepicker-options="$ctrl.options"></div>
            </div>
        </div>
        <div class="col-md-2">
            <div ng-click="$ctrl.ChangeTimeStatus()">
                <label class="control-label data-picker-label" for="game-time">
                    <i id="game-time" class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
                </label>
                <span>{{$ctrl.getTimeForView()}}</span>
            </div>

            <div class="picker" ng-show="$ctrl.isTimeVisible">
                <div uib-timepicker name="time" ng-model="$ctrl.gameTime" show-meridian="$ctrl.isMeridian"
                     class="well well-sm"></div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="location">
                <input class="form-control" ng-model="$ctrl.location"
                       maxlength="34"
                       name="location"
                       required
                       placeholder="{{'LOCATION_PLACEHOLDER' | translate}}"></div>
        </div>
        <div class="col-md-3">
            <div ng-if="!$ctrl.season">
                <span id="no-season" ng-if="!$ctrl.seasonEditor">
                    <span>No season</span>
                    <i class="fa fa-pencil link-pencil link-icon"
                       ng-click="$ctrl.seasonEditor = true"
                       aria-hidden="true">
                    </i>
                </span>
                <span class="photos-link-editor" ng-if="$ctrl.seasonEditor">
                    <input id="season-name-input"
                           class="form-control"
                           type="text"
                           esc-key="$ctrl.seasonEditor = false"
                           enter-key="$ctrl.saveSeason()"
                           focused="true"
                           ng-model="$ctrl.newSeasonName" autofocus>
                    <i class="fa fa-check link-icon"
                       ng-click="$ctrl.saveSeason()">
                    </i>
                    <i class="fa fa-times link-icon"
                       ng-click="$ctrl.seasonEditor = false"
                       aria-hidden="true">
                    </i>
                </span>
            </div>
            <div ng-if="$ctrl.season">
                <label class="switch">
                    <input id="season" type="checkbox" ng-model="$ctrl.isSeasonGame">
                    <span class="slider round"></span>
                </label>
                <label id="season-name"
                       ng-class="{'disabled' : !$ctrl.isSeasonGame,'enabled':$ctrl.isSeasonGame}"
                       for="season">
                    {{$ctrl.season.name}}
                </label>
            </div>
        </div>
        <button id="game-build" type="submit" class=" btn btn-info"
                ng-click="$ctrl.createNewGame()" ng-disabled="createForm.$invalid">
            {{'CREATE_GAME_BUTTON' | translate}}
        </button>
    </form>
    <span id="err-message" class="text-danger" ng-show="createForm.$error.time">
        {{'WRONG_TIME_ERROR'|translate}}
    </span>
</div>