h1 {
    margin-top: 5%;
    margin-bottom: 3%;
    padding-bottom: 2%;
    border-bottom: solid 1px;
    text-align: center;
}

#team-list {
    list-style: none;
}

#team-list label {
    font-size: 14pt;
    height: 36px;
}

#team-list input {
    width: 60px;
    display: inline-block;
    margin-right: 5px;
    float: left
}

#control-panel {
}

#control-panel button {
    position: relative;
    margin: 2px 2px;
}

.submit-button {
    float: right;
}

.btn-selected::after{
    position:absolute;
    bottom: -10px;
    height: 2px;
    left: 0px;
    right: 0px;
    transition-property: width;
    content: "";
    background: orange;
}

.alert{
    position: absolute;
    right: 10px;
    top:10px;
    width: 30%;
}

#manual-input{
    font-size: 14pt;
}

