h1 {
    border-bottom: solid lightgrey 1px;
    text-align: center;
    padding-bottom: 20px;
}

#team-list {
    list-style: none;
}

#team-list label {
    width: 40%;
    font-size: 14pt;
}

#team-list input {
    width: 70px;
    display: inline-block;
    margin-left: 50px;
    float: right;
}

#control-panel {
    margin-top: 10%;
}

#control-panel button {
    position: relative;
    margin: 2px 2px;
}

.submit-button {
    float: right;
}

.btn-selected::after{
    position:absolute;
    bottom: -10px;
    height: 2px;
    left: 0px;
    right: 0px;
    transition-property: width;
    content: "";
    background: orange;
}

.alert{
    position: absolute;
    right: 10px;
    top:10px;
    width: 30%;
}

#manual-input{
    font-size: 14pt;
}

