h1 {
    border-bottom: solid lightgrey 1px;
    text-align: center;
    padding-bottom: 20px;
}

#team-list {
    list-style: none;
}

#team-list label {
    width: 40%;
    font-size: 14pt;
}

#team-list input {
    width: 70px;
    display: inline-block;
    margin-left: 50px;
    float: right;
}

#control-panel {
    margin-top: 10%;
}

#control-panel button {
    margin: 2px 2px;
}

.submit-button {
    float: right;
}

.nav-btn > .btn:hover {
    box-shadow: 2px 5px 7px 0px #808080;
}

.btn-selected {
    box-shadow: 2px 5px 7px #53b0db ;
}

.alert{
    position: absolute;
    right: 10px;
    top:10px;
    width: 30%;
}

#manual-input{
    font-size: 14pt;
}

