<div class="col-md-2">
  <app-date-picker (date)="setGameDate($event)" [defaultDate]="defaultDate"></app-date-picker>
</div>
<div class="col-md-2">
  <app-time-picker (time)="setGameTime($event)" [defaultTime]="defaultTime"></app-time-picker>
</div>
<div class="col-md-2">
  <div class="location" [formGroup]="locationInput">
    <input class="form-control"
           formControlName="location"
           [(ngModel)]="defaultLocation"
           (blur)="setGameLocation()"
           name="location"
           placeholder="{{'LOCATION_PLACEHOLDER' | translate}}">
  </div>
</div>
<div class="col-md-3">
  <app-season-picker (isSeasonGameEvent)="setIsSeasonGame($event)"
                     [isSeasonGame]="defaultIsSeasonGame"
                     (currentSeason)="setSeason($event)" #seasonPicker>
  </app-season-picker>
</div>
