<div class="container">
  <header id="round-header">
    <h1>{{'ROUNDS_HEADER'|translate}}</h1>
  </header>
  <div>
    <div class="row">
      <div id="round-status-panel">
        <div class="col-md-4 round-panel">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{'PREVIOUS_ROUNDS_TITLE'|translate}}</h3>
            </div>
            <div class="panel-body past">
              <a *ngFor="let prevRound of prevRounds "
                 class="btn btn-round-panel btn-success">
                {{prevRound.$id}}. {{prevRound.name}}
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 round-panel">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{'CURRENT_ROUND_TITLE'|translate}}</h3>
            </div>
            <div class="panel-body current">

              <a *ngIf="currentRound"
                 class="btn btn-round-panel btn-warning"
                 tooltip-popup-delay="1000"
                 tooltip-append-to-body="true"
                 href="/#!/games/{{gameId}}/rounds/{{currentRound.$id}}/1">
                {{currentRound.$id}}. {{currentRound.name}}
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 round-panel">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{'NEXT_ROUNDS_TITLE'|translate}}</h3>
            </div>
            <div class="panel-body future">
              <a *ngFor="let nextRound of nextRounds"
                 class="btn btn-round-panel btn-silver">{{nextRound.$id}}. {{nextRound.name}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 round-button-panel">
        <a class="btn btn-info btn-lg btn-block"
           href="#!/games/{{gameId}}/results">
          {{'SHOW_RESULTS_BUTTON'|translate}}
        </a>
      </div>
      <div class="col-md-4 col-md-offset-4 round-button-panel"
           *ngIf="checked">
        <!--<button (click)="onFinished()"-->
                <!--[disabled]="disableFinished"-->
                <!--class="btn btn-warning btn-lg btn-block">-->
          <!--<span class="start-ico">{{'FINISH_GAME_BUTTON'|translate}}</span>-->
          <!--<i class="fa fa-flag-checkered"></i>-->
        <!--</button>-->
      </div>
    </div>
  </div>
</div>
