.container,html{
    height: 100%;
}
td{
    font-size: 24px;
}

th{
    font-size: 28px;
}
h1{
    margin-top: 5%;
    margin-bottom: 3%;
    padding-bottom: 2%;
    border-bottom: solid 1px;
    text-align: center;
}