<div class="container">
    <header id="round-header"><h1>Rounds</h1></header>
    <div class="col-md-11 col-md-offset-2">
        <div class="row">
            <div id="round-status-panel">
            <div class="col-md-3 round-panel">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Previously</h3>
                    </div>
                    <div class="panel-body past">
                        <a ng-repeat="prevRound in $ctrl.prevRounds"
                           href="#!/result-setup/{{$ctrl.gameId}}/{{prevRound}}/1/edit"
                           class="btn btn-round-panel btn-success">Round
                            {{prevRound}}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 round-panel">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Current</h3>
                    </div>
                    <div class="panel-body current">
                        <a ng-hide="!$ctrl.currentRound"
                           href="#!/result-setup/{{$ctrl.gameId}}/{{$ctrl.currentRound}}/1/edit"
                           class="btn btn-round-panel btn-danger">Round {{$ctrl.currentRound}}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 round-panel">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Next</h3>
                    </div>
                    <div class="panel-body future">
                        <a ng-repeat="nextRound in $ctrl.nextRounds"
                           class="btn btn-round-panel btn-silver">Round
                            {{nextRound}}</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="row">

            <div class="col-md-5 col-md-offset-2 round-button-panel" onclick="" ng-if="!$ctrl.checked">
                <a href="#!/result-setup/{{$ctrl.gameId}}/{{$ctrl.currentRound}}/1"
                   class="btn btn-success btn-lg btn-block">
                    <span class="start-ico">START</span><i class="fa fa-flag-o"></i>
                </a>
            </div>
            <div class="col-md-5 col-md-offset-2 round-button-panel" onclick="">
                <a href="#!/show-result/{{$ctrl.gameId}}"
                   class="btn btn-danger btn-lg btn-block">
                    <span class="start-ico">Show results</span><!--<i class="fa fa-flag-o"></i>-->
                </a>
            </div>
            <div class="col-md-5 col-md-offset-2 round-button-panel" ng-click="$ctrl.onFinished()"
                 ng-if="$ctrl.checked">
                <a href="#!/show-result/{{$ctrl.gameId}}"
                   class="btn btn-warning btn-lg btn-block">
                    <span class="start-ico">FINISH GAME</span><i class="fa fa-flag-o"></i>
                </a>
            </div>
            <!--<div class="col-md-5 col-md-offset-2 round-button-panel" ng-click="$ctrl.onPublished()" ng-if="!$ctrl.checked">-->
                <!--<span class="btn btn-info btn-lg btn-block">-->
                    <!--<span class="start-ico">Publish results</span>-->
                <!--</span>-->
            <!--</div>-->
        </div>
    </div>
</div>