.game-type {
    margin-top: 30px;
}

/*.game-tour {*/
/*margin: auto;*/

/*}*/

label {
    font-size: 16px;
}

.rounds-count {
    display: inline;
    /*float: right;*/
    /*width: 400px;*/
}

.rounds-count-label {
    padding-top: 5px;
}

.data-picker {
    position: fixed;

    display: inline-block;
    margin-top: 40px;
    min-height: 290px;
    z-index: 100;
}

.data-picker-label{
    margin-top: 20px;
    margin-bottom: 20px;
}
.round-number {
    max-width: 20px;
    max-height: 15px;
}

.round-name {
    max-width: 300px;
}

#game-build {
    margin-top: 10px;
}

.count-quest {
    max-width: 140px;
}

/*input[type=number]::-webkit-inner-spin-button,*/
/*input[type=number]::-webkit-outer-spin-button {*/
    /*-webkit-appearance: none;*/
    /*margin: 0;*/
/*}*/
