.game-type {
    margin-top: 10%;
}

.game-tour {
    max-width: 300px;
    margin:auto;
    font-size: 20px;
    text-align: center;
}

.game-questions {
    max-width: 300px;

    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}

input {
    margin-left: 30%;
    max-width: 110px;
}

#game-build {
    margin-top: 10px;
    font-size: 15px;
    height: 40px;
    width: 150px;
}