.game-type {
    margin-top: 10%;
}

.game-tour {
    margin: auto;
    font-size: 20px;
    text-align: center;
}

.game-rounds {
    margin-top: 40px;
}

.form-group {
    display: inline-block;
}

input {
    margin: auto;
}

.rounds-count{
    width: 100px;
}

.round-name {
    width: 150px;
}

#game-build {
    margin-top: 10px;
    font-size: 15px;
    height: 40px;
    width: 150px;
}