#is-private-game {
  margin-top: 7px;
  padding: 0px 15px;
  position: relative;
  cursor: pointer;
}

.is-public{
  color: #ccc;
}

#lock {
  position: absolute;
  left: -10px;
  font-size: 1.5em;
}
