mhs-facebook-share {
  float: right;
}

.photos-link {
  line-height: 280%;
  float: right;
  margin-right: 28px;
}

.photos-link-editor {
  line-height: 280%;
  float: right;
  margin-right: 8px;
  display: inline;
}

td.td-cell {
  font-size: 20px;
  cursor: pointer;
}

td.round-score, td.total-score, th.total-title {
  text-align: right;
}

h1#game-results {
  padding-bottom: 1%;
  border-bottom: solid 1px;
}

.link-icon {
  cursor: pointer;
  margin-left: 5px;
  font-size: 18px;
}

.photosUrlContainer {
  display: inline-block;
}

.photos-url-editor {
  display: inline-block;
  width: auto;
}

.no-photos-link {
  cursor: default;
  color: #515151;
  font-style: italic;
}

a {
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  game-results-page .btn-panel {
    padding-left: 15px;
    padding-right: 15px;
  }

  game-results-page .table > tbody > tr > td,
  game-results-page .table > thead > tr > th {
    padding: 8px 15px 8px 15px;
  }

  game-results-page td.td-cell {
    font-size: 16px;
  }

  game-results-page .photos-link {
    float: none;
    margin: auto;
  }

  game-results-page #game-results {
    font-size: 16px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media screen and (min-width: 500px) {
  table .td-cell.ng-binding {
    font-size: 20px;
  }

  table th.th-cell {
    font-size: 20px;
  }
}
