@media screen and (min-width: 0px) and (max-width: 720px) {
  td.round-result { display: none; }
  table th.round-result { display: none; }
}
table thead th.th-cell {
  font-size: 17px;
}

.td-cell.ng-binding {
  font-size: 17px;
  vertical-align: middle;
}

.total-title, .total-score {
  text-align: right;
  font-weight: bold;
  position: relative;
}

span.ng-binding.date {
  float: right;
}

td.position-data{
  white-space:nowrap;
}

.dragable-icon, .round-score {
  text-align: right;
}

.th-cell.dragable-icon {
  padding-right: 0.9em;
}

.teams-title, .team-name {
  width: 15%;
}

.dragable-icon, .round-score {
  width: 8%;
}

.total-title, .total-score {
  width: 12%;
}

tbody tr.table-row:nth-child(odd) {
  background: rgba(68, 52, 52, 0.1);
}

.position-data, .position-title {
  position: relative;
  width: 2%;
  word-break: keep-all;
}

.gold {
  color: gold;
}

.silver {
  color: silver;
}

.bronze {
  color: saddlebrown;
}
