table thead th.th-cell{
    font-size: 1.3em;
    padding-top: 0.05em;
    padding-bottom: 0.1em;
}
.td-cell.ng-binding{
    font-size: 17px;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    border: none;
}
.total-title, .total-score {
    text-align: right;
    font-weight: bold;
    position: relative;
}
span.ng-binding.date{
    float: right;
}

.dragable-icon, .round-score {
    text-align: right;
}

.th-cell.dragable-icon {
    padding-right: 0.9em;
}
.teams-title, .team-name{
    width: 15%;
}

.dragable-icon, .round-score {
    width: 8%;
}
.total-title, .total-score{
    width: 12%;
}
tbody tr.table-row:nth-child(odd){
    background: rgba(68,52,52, 0.1);
}

.position-data, .position-title {
    width: 2%;
}
