<div class="checkbox">
    <label id="manual-input"><input type="checkbox" ng-model="$ctrl.isManualInput">{{'MANUAL_INPUT_CHECKBOX'|translate}}</label>

    <label ng-if="$ctrl.isManualInput">
        <input type="number" placeholder="{{'WEIGHT_INPUT' | translate}}" class="form-control weight-of-response"
               ng-model="$ctrl.weightOfResponse" ng-change="$ctrl.recalculateScore()">
    </label>
</div>


<div class="form-group row">
    <ul id="team-list">
        <li ng-repeat="result in $ctrl.results | orderBy: 'teamName'" class="team">
            <label class="clickable-label">
                <div class="result-control">
                <span>
                    <input type="checkbox"
                           ng-model="result.score"
                           ng-change="$ctrl.saveResult(result)"
                           ng-model-options="{'updateOn': 'default blur','debounce': {'default': 250,'blur': 0}}"
                           class="score-by-checkbox"
                           ng-if="!$ctrl.isManualInput"
                           ng-true-value="1" ng-false-value="0">
                </span>
                    <span>
                    <input type="number"
                           ng-model="result.numberOfCorrectAnswers"
                           ng-change="$ctrl.saveResult(result)"
                           ng-model-options="{'updateOn': 'default blur','debounce': {'default': 250,'blur': 0}}"
                           class="form-control score-by-manual"
                           ng-if="$ctrl.isManualInput"
                           ng-focus="$ctrl.selectAllContent($event)">
                </span>
                </div>
                <div class="team-name">{{result.teamName}}</div>
            </label>
        </li>
    </ul>
</div>