.form-group{
  position: relative;
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 32px;
  float: left;
  margin-right: 10px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: -1px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  background-color: #ED8282;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 26px;
  left: 5px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #81EA89;
}

input:focus + .slider {
  box-shadow: 0 0 1px #81EA89;
}

input:checked + .slider:before {
  -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(34px);
}

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}

.result-control {
  margin-right: 20px;
}

.result-rate {
  float: left;
}

#team-list #switch-checkbox {
  display: none;
}

.team-name {
  overflow: hidden;
  word-wrap: break-word;
  font-weight: bold;
  font-size: 14pt;
  position: relative;
  top: 2px;
}

#team-list {
  list-style: none;
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}

.team {
  margin-left: 5%;
}

.edit-state{
  top: -68px;
  right: 60px;
  position: absolute;
  width: 101.47px;
}
