<table class="table table-sm table-hover">
    <thead>
    <tr class="game-property">
        <th>{{'DATE_LABEL' | translate}}</th>
        <th>{{'WINNER_TEAM_LABEL' | translate}}</th>
        <th>{{'WINNER_TEAM_SCORE_LABEL' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr class="game-row" ng-repeat="game in $ctrl.games | orderBy:'-date'" ng-click="$ctrl.openGameInfo(game.$id)">
        <td>{{game.date.toLocaleDateString()}}</td>
        <td><i id="trophy" class="fa fa-trophy"></i> {{game.winner.name}}</td>
        <td>{{game.winner.score}}</td>
    </tr>
    </tbody>
</table>