.finished-games-table {
    vertical-align: middle;
}

.no-games-label {
    background: #fff;
    font-size: 4em;
    text-align: center;
    color: #c7c7c7;
    padding-top: 1em;
    cursor: default;
}

.teams-number {
    text-align: center;
}

#select-season{
    margin-top: 10px;
}