<div class="col-md-3 col-md-offset-9 row">
    <select class="form-control" ng-model="$ctrl.selectedSeason" ng-options="season.name for season in $ctrl.seasons">
        <option value="">{{'ALL_SEASONS_SELECT'|translate}}</option>
    </select>
</div>
<table class="table table-sm table-striped table-hover">
    <thead>
    <tr class="game-property">
        <th>{{'DATE_LABEL' | translate}}</th>
        <th>{{'WINNER_TEAM_LABEL' | translate}}</th>
        <th>{{'NUMBER_OF_TEAMS_LABEL' | translate}}</th>
        <th>{{'GAME_SEASON_LABEL' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr class="game-row" ng-repeat="game in $ctrl.games | filter:$ctrl.selectedSeason.id |orderBy:'-date'" ng-click="$ctrl.openGameInfo(game.$id)">
        <td>{{game.date.toLocaleDateString()}}</td>
        <td><i id="trophy" class="fa fa-trophy"></i> {{game.winner.name}}</td>
        <td>{{game.teamsNumber}}</td>
        <td>{{game.season.name}}</td>
    </tr>
    </tbody>
</table>