 <div class="container">
    <uib-tabset active="$ctrl.activeTab">
        <uib-tab  index="$ctrl.tabs[0]" heading="{{'OPEN_GAMES_TAB_NAME' | translate}}" ng-click="$ctrl.updateUrlPath($ctrl.tabs[0])">
            <open-game-list></open-game-list>
        </uib-tab>
        <uib-tab index="$ctrl.tabs[1]" heading="{{'CURRENT_GAMES_TAB_NAME' | translate}}" ng-click="$ctrl.updateUrlPath($ctrl.tabs[1])" ng-if="$ctrl.auth">
            <current-game-list></current-game-list>
        </uib-tab>
        <uib-tab  index="$ctrl.tabs[2]" heading="{{'FINISHED_GAMES_TAB_NAME' | translate}}" ng-click="$ctrl.updateUrlPath($ctrl.tabs[2])">
            <finished-game-list></finished-game-list>
        </uib-tab>
    </uib-tabset>
</div>