<create-game ng-if="$ctrl.auth"></create-game>
<table class="table table-sm table-hover">
    <thead>
    <tr>
        <th>{{'DATE_LABEL' | translate}}</th>
        <th>{{'TIME_LABEL' | translate}}</th>
        <th>{{'LOCATION_LABEL' | translate}}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr class="game-row" ng-repeat="openGame in $ctrl.openGames | orderBy:'-date'">
        <td>{{openGame.date.toLocaleDateString()}}</td>
        <td>{{openGame.time}}</td>
        <td>{{openGame.location}}</td>
        <td>
            <button class="btn btn-info game-button"
                    ng-click="$ctrl.registerToGame(openGame.$id)"
                    ng-if="!$ctrl.auth">{{'REGISTER_BUTTON' | translate}}
            </button>
            <button class="btn btn-info game-button"
                    ng-if="$ctrl.auth"
                    ng-click="$ctrl.configGame(openGame.$id)">{{'CONFIG_BUTTON' | translate}}
            </button>
            <button class="btn btn-info game-button"
                    ng-click="$ctrl.startGame(openGame)"
                    ng-if="$ctrl.auth">{{'START_BUTTON' | translate}}
            </button>
            <span id="err-message" class="error text-danger" ng-if="openGame.invalid">{{openGame.error| translate}}}</span>
        </td>
    </tr>
    </tbody>
</table>