<create-game ng-if="$ctrl.auth"></create-game>
<table class="table table-sm table-striped table-hover">
    <thead>
    <tr class="game-property">
        <th>{{'DATE_LABEL' | translate}}</th>
        <th>{{'TIME_LABEL' | translate}}</th>
        <th>{{'LOCATION_LABEL' | translate}}</th>
        <th>{{'GAME_SEASON_LABEL' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr class="game-row td games" ng-repeat="openGame in $ctrl.openGames | orderBy:'-date'">
        <td>{{openGame.date | date:'d MMM y'}}</td>
        <td>{{openGame.time}}</td>
        <td>{{openGame.location}}</td>
        <td  ng-click="$event.stopPropagation();"><a ng-href='/#!/seasons/{{openGame.season.id}}'>{{openGame.season.name}}</a> </td>

        <td>
            <button class="btn btn-danger game-button"
                    ng-click="$ctrl.deleteGameRequest(openGame)"
                    ng-if="$ctrl.auth">{{'DELETE_BUTTON' | translate}}
            </button>
            <button class="btn btn-info game-button"
                    ng-click="$ctrl.open(openGame.$id)"
                    ng-if="!$ctrl.auth">{{'TEAMS_MODAL_SHOW_BUTTON' | translate}}
            </button>
            <a class="btn btn-info game-button"
               ng-href="/#!/games/{{openGame.$id}}/registration">
                {{'REGISTER_BUTTON' | translate}}
            </a>
            <button class="btn btn-info game-button"
                    ng-if="$ctrl.auth"
                    ng-click="$ctrl.configGame(openGame.$id)">{{'CONFIG_BUTTON' | translate}}
            </button>
            <button class="btn btn-info game-button"
                    ng-click="$ctrl.startGame(openGame)"
                    ng-if="$ctrl.auth">{{'START_BUTTON' | translate}}
            </button>
            <span id="err-message" class="error text-danger"
                  ng-if="openGame.invalid">{{openGame.error| translate}}</span>

            <div ng-if="openGame.isDeleteGameRequested"
                 class="alert alert-danger alert-dismissible fade in delete-game-alert" role="alert">
                <p>{{'DELETE_GAME_ALERT' | translate}}</p>
                <p>
                    <button ng-click="$ctrl.deleteGame(openGame)" type="button" class="btn btn-danger">{{'DELETE_BUTTON'
                        | translate}}
                    </button>
                    <button ng-click="$ctrl.cancelDeleteGameRequest(openGame)" type="button" class="btn btn-default">
                        {{'CLOSE_BUTTON' | translate}}
                    </button>
                </p>
            </div>

        </td>
    </tr>
    </tbody>
</table>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{'TEAMS_MODAL_HEADER' | translate}}: {{$ctrl.date | date:'d MMM
            y'}}</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <span ng-if="$ctrl.items.length === 0">{{'TEAMS_MODAL_PLACEHOLDER' | translate}}</span>
        <ul>
            <li ng-repeat="item in $ctrl.items | orderBy:'teamName'">
                {{ item.teamName }}
            </li>
        </ul>
    </div>
</script>
