<div class="form-group row">
    <ul id="team-list">
        <li ng-repeat="result in $ctrl.results | orderBy: 'teamName'" class="team">
            <label class="clickable-label">
                <div class="result-control">
                    <input type="checkbox"
                           ng-model="result.score"
                           ng-change="$ctrl.saveResult({result:result})"
                           class="score-by-checkbox"
                           ng-true-value="{{$ctrl.weight}}" ng-false-value="0"
                           ng-disabled="$ctrl.isDisabled(result.teamId)">
                </div>
                <div class="team-name">{{result.teamName}}</div>
            </label>
        </li>
    </ul>
</div>

<div class="wrapper">
    <label id="no-lbl" for="no_radio" >
        <i class="fa fa-times"></i>
    </label>
    <input id="no_radio" name="choice_radio"  type="radio" value="">

    <label id="default-lbl" for="default-radio"></label>
    <input id="default-radio" name="choice_radio" type="radio" value="" checked>

    <label id="yes-lbl" for="yes_radio" >
        <i class="fa fa-check"></i></label>
    <input  id="yes_radio" name="choice_radio" type="radio" value="">

    <div class="toggle"></div>
</div>