<div class="form-group row">
  <button [ngClass]="{'btn-info': showInputs, 'btn-primary': !showInputs}"
          (click)="switchEditState()" class="edit-state btn">{{editStateText}}
  </button>
  <ul id="team-list">
    <li *ngFor="let result of results" class="team">
      <label>
        <div *ngIf="showInputs" class="result-rate">
          <input class=" form-control" [(ngModel)]="result.rate" type="number"
                 min="{{round.roundType.start}}"
                 step="{{round.roundType.step}}" (change)="onSave(result)">
        </div>
        <div *ngIf="!showInputs" class="switch">
          <input id="switch-checkbox"
                 type="checkbox"
                 [(ngModel)]="result.status"
                 (change)="result.auction = result.status > 0 ? 1 : null; onSave(result)"
                 >
          <span class="slider round"></span>
        </div>
        <div class="team-name">{{result.teamName}}</div>
      </label>
    </li>
  </ul>
</div>

