<!DOCTYPE html>
<html lang="en" ng-app="mhs" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MHS</title>
    <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
    <script src="services/firebase-service/dbConfig.js"></script>

    <meta name="description" content="">
    <meta property="og:image" content="public/logo.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="public/css/spinner.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

    <script src="/__/firebase/4.2.0/firebase-app.js"></script>
    <script src="/__/firebase/4.2.0/firebase-auth.js"></script>
    <script src="/__/firebase/4.2.0/firebase-database.js"></script>
    <script src="/__/firebase/4.2.0/firebase-messaging.js"></script>

    <script src="/__/firebase/init.js"></script>


    <link rel="stylesheet" type="text/css" href="public/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="public/css/bootstrapSilverButton.css">
    <script src="https://use.fontawesome.com/50300bbbf7.js"></script>

    <link rel="stylesheet" href="bower_components/angucomplete-alt/angucomplete-alt.css">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css">

</head>
<body>
<div data-ng-if="loading" class="lds-css ng-scope">
    <div class="lds-spinner" style="height:100%">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div class="container">
    <navbar ng-if="!presentationMode && !loading"></navbar>
    <!--<div ng-if="!presentationMode" class="main-panel"></div>-->
    <div ng-show="!loading" ng-view></div>
</div>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src='bower_components/ngMask/dist/ngMask.js'></script>
<script src='bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js'></script>
<script src="shared/esc-key.js"></script>
<script src="shared/enter-key.js"></script>
<script src="shared/focused.js"></script>
<script src="internalisation/internalisation.module.js"></script>
<script src="internalisation/internalisation.service.js"></script>

<script src="bower_components/angularfire/dist/angularfire.js"></script>

<script src="services/firebase-service/firebase-service.module.js"></script>
<script src="services/firebase-service/firebase-service.service.js"></script>

<script src="services/user-auth-service/user-auth-service.module.js"></script>
<script src="services/user-auth-service/user-auth-service.service.js"></script>
<script src="services/game-template-service/game-template-service.module.js"></script>
<script src="services/game-template-service/game-template-service.service.js"></script>

<script src="player/team-games-list/team-games-list.module.js"></script>
<script src="player/team-games-list/team-games-list.component.js"></script>

<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-css/angular-css.js"></script>
<script src="services/team-service/team-service.module.js"></script>
<script src="services/team-service/team-service.service.js"></script>
<script src="services/game-service/game-service.module.js"></script>
<script src="services/game-service/game-service.service.js"></script>
<script src="services/result-service/result-service.module.js"></script>
<script src="services/game-request-service/game-request-service.module.js"></script>
<script src="services/game-request-service/game-request-service.service.js"></script>
<script src="services/game-request-service/game-request-service.service.js"></script>
<script src="admin/create-game/create-game.module.js"></script>
<script src="services/result-service/result-service.service.js"></script>
<script src="admin/round-builder/round-builder.module.js"></script>
<script src="admin/round-builder/round-builder.component.js"></script>
<script src="admin/team-list/team-list.module.js"></script>
<script src="admin/team-list/team-list.component.js"></script>

<script src="app.js"></script>
<script src="player/player.js"></script>
<script src="admin/admin.js"></script>

<script src="services/prev-location-service.js"></script>

<script src="spinner/spinner.service.js"></script>

<script src="bower_components/angucomplete-alt/angucomplete-alt.js"></script>

<script src="player/team-register-form/team-register-form.module.js"></script>
<script src="player/team-register-form/team-register-form.component.js"></script>
<script src="admin/add-teams/add-teams.module.js"></script>
<script src="services/convert-service/convert-service.module.js"></script>
<script src="services/convert-service/convert-service.service.js"></script>

<script src="services/game-service/open-game-service/open-game.module.js"></script>
<script src="services/game-service/open-game-service/open-game.service.js"></script>

<script src="admin/game-results/game-results-page.module.js"></script>
<script src="admin/game-results/game-results-page.component.js"></script>
<script src="admin/game-results/game-results.component.js"></script>
<script src="presentation-mode/presentationMode.controller.js"></script>

<script src="admin/season/season.module.js"></script>
<script src="admin/season/season.component.js"></script>
<script src="admin/season/season-list/season-list.component.js"></script>

<script src="services/team-request-service/team-request-service.module.js"></script>
<script src="services/team-request-service/team-request-service.service.js"></script>

<script src="admin/create-game/create-game.component.js"></script>

<script src="admin/team-results/team-results.module.js"></script>
<script src="admin/team-results/team-results.component.js"></script>
<script src="admin/add-teams/team-exist.directive.js"></script>

<script src="admin/game-build/game-type/game-type.module.js"></script>
<script src="admin/game-build/game-type/game-type.component.js"></script>
<script src="admin/result-setup/result-setup.module.js"></script>
<script src="admin/result-setup/result-setup.service.js"></script>
<script src="admin/result-setup/result-setup.component.js"></script>
<script src="admin/result-setup/result-setup.builder.js"></script>

<script src="admin/game-build/config-game/config-game.module.js"></script>
<script src="admin/game-build/config-game/config-game.component.js"></script>

<script src="bower_components/angular-socialshare/dist/angular-socialshare.js"></script>
<script src="admin/add-teams/add-teams.component.js"></script>

<script src="admin/round-type/hints/hints-round-type.component.js"></script>
<script src="admin/round-type/captain/captain-round-type.component.js"></script>
<script src="admin/round-type/auction/auction-round-type.component.js"></script>
<script src="admin/round-type/default/default-round.component.js"></script>
<script src="admin/round-status/round-status.module.js"></script>
<script src="admin/round-status/round-status-component.js"></script>
<script src="admin/login/login.module.js"></script>
<script src="admin/login/login.component.js"></script>
<script src="admin/login-panel/login-panel.module.js"></script>
<script src="admin/login-panel/login-panel.component.js"></script>
<script src="admin/game-list/game-list.module.js"></script>
<script src="admin/game-list/game-list.component.js"></script>
<script src="admin/game-list/finished-game.component.js"></script>
<script src="admin/game-list/open-game-list.component.js"></script>
<script src="admin/add-teams/print-teams/print-teams.component.js"></script>
<script src="admin/game-template/game-template.module.js"></script>
<script src="admin/game-template/game-template.component.js"></script>
<script src="admin/game-template/current-game-template.component.js"></script>

<script src="services/round-service/round-service.module.js"></script>
<script src="services/round-service/round-service.service.js"></script>
<script src="services/firebase-service/dbConfig.js"></script>

<script src="admin/navbar/navbar.module.js"></script>
<script src="admin/navbar/navbar.component.js"></script>
<script src="admin/game-list/current-game.component.js"></script>

<script src="services/game-build-service/game-build-service.module.js"></script>
<script src="services/game-build-service/game-build-service.service.js"></script>

<script src="services/season-service/season-service.module.js"></script>
<script src="services/season-service/season-service.service.js"></script>

<script src="services/round-type-service/round-type-service.module.js"></script>
<script src="services/round-type-service/round-type-service.service.js"></script>
</body>
</html>
