<div id="weight-label">{{"NUMBER_OF_POINTS"|translate}}: {{$ctrl.weight}}</div>
<div class="form-group row captains-round-quiz">
  <ul id="team-list">
    <li ng-repeat="result in $ctrl.results | orderBy: 'teamName'" class="team">
      <label class="clickable-label" ng-class={'disabled':$ctrl.isDisabled(result.teamId)}>
        <div class="result-control">
          <input type="checkbox"
                 ng-model="result.score"
                 ng-change="$ctrl.saveResult({result:result})"
                 class="score-by-checkbox"
                 ng-true-value="{{$ctrl.weight}}" ng-false-value="0"
                 ng-disabled="$ctrl.isDisabled(result.teamId)">
        </div>
        <div class="team-name">{{result.teamName}}</div>
      </label>
    </li>
  </ul>
  <div class="alert noCaptainsAlert" ng-if="$ctrl.isCaptainsOut">
    <a ng-click="$ctrl.closeAlert()" class="close">×</a>
    <p>{{"NO_CAPTAINS_ALERT" | translate}}</p>
    <button ng-click="$ctrl.closeRound()" class="btn btn-danger">{{"ROUND_FINISH_BUTTON" | translate}}</button>
  </div>
</div>
