team-games-list td {
  font-size: 16px;
}

team-games-list th {
  font-size: 18px;
}

team-games-list h1 {
    border-bottom: solid 1px;
}

@media screen and (max-width: 720px) {

  team-games-list .team-name,
  team-games-list .btn-panel {
    padding-left: 15px;
    padding-right: 15px;
  }

  .table>tbody>tr>td:first-child,
  .table>thead>tr>th:first-child{
    padding-left: 15px;
  }
  .table>tbody>tr>td:last-child,
  .table>thead>tr>th:last-child{
    padding-right: 15px;
  }
}
