hints-result .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
  margin: -2px 10px;
}

hints-result .switch input {
  display: none;
}

hints-result .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  background-color: #ED8282;
  -webkit-transition: .4s;
  transition: .4s;
}

hints-result .slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

hints-result input:checked + .slider {
  background-color: #81EA89;
}

hints-result input:focus + .slider {
  box-shadow: 0 0 1px #449d44;
}

hints-result input:disabled + .slider {
  cursor: default;
}

hints-result input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

hints-result .slider.round {
  float: left;
  top: 6px;
  bottom: -6px;
  border-radius: 28px;
}

hints-result .slider.round:before {
  border-radius: 50%;
}

hints-result .result-control {
  float: left;
  width: auto;
  margin-top: 1px;
  margin-bottom: 1px;
}

hints-result .result-control input[type=radio] {
  display: none;
}



hints-result .result-control div {
  float: left;
}

hints-result .result-control div label {
  border-radius: 0;
  font-weight: bold;
  width: 50px;
}

hints-result .result-control div:first-of-type label {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

hints-result .result-control div:last-of-type label {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

hints-result .switchSpan {
  margin: 10px;
}

hints-result .hints-edited {
  box-shadow: 0px 0px 4px 3px #ffbc35;;
  border-radius: 50px;
}

hints-result .result-label .btn[disabled] {
  cursor: default;
  opacity: 1;
}

hints-result .result-label{
  margin-right: 1%;
  text-align: left;
}

hints-result .result{
  padding: 4px 0;
  border-radius: 30%;
  text-align: center;
  color: white;
  width: 44px;
  height: 31px;
  font-size: 14pt;
  border: none;
}

@media screen and (min-width: 721px){
  hints-result .result-label:nth-child(5) {
    margin-right: 20px;
  }
}

@media screen and (max-width: 720px){
  hints-result .result-label{
    width: 20%;
    margin:0 0 10px 0;
  }
}
