<div>
    <table class="table table-striped table-hover round-list">
        <thead>
        <th>#</th>
        <th>{{'ROUND_NAME_LABEL' | translate}}</th>
        <th>{{'QUESTION_COUNT_LABEL' | translate}}</th>
        </thead>
        <tbody dnd-list="$ctrl.rounds">
        <tr ng-repeat="round in $ctrl.rounds" dnd-draggable="round" dnd-moved="$ctrl.dragAndDropRound($index)">
            <td class="td-round-number handle">
                {{$index + 1}}
            </td>
            <td dnd-nodrag>
                <div class="round-name">
                    <input class="form-control" ng-model="round.name"
                           maxlength="34" minlength="3" pattern="^[^-\s][\wа-яА-ЯіІїЇєЄ\s-]+$"
                           required placeholder="{{'ROUND_NAME_PLACEHOLDER' | translate}}"></div>
            </td>
            <td dnd-nodrag>
                <div class="count-quest">
                    <input class="form-control"
                           min="1" max="20" ng-model="round.numberOfQuestions"
                           placeholder="{{'QUIZ_COUNT_PLACEHOLDER'|translate}}" type="number" required>
                </div>
            </td>
            <td dnd-nodrag ng-click="$ctrl.deleteRound($index)"><a class="btn btn-danger">
                {{'DELETE_ROUND_BUTTON' | translate}}</a>
            </td>
        </tr>
        </tbody>
    </table>
    <button ng-click="$ctrl.addRound($event)" class=" btn btn-info btn-block add-round">
        {{'ADD_ROUND_BUTTON' | translate}}
    </button>
</div>
