.login-panel {
    padding-top: 12px;
}

.auth-info {
    padding-top: 2px;
}

.login-panel a:hover {
    cursor: pointer;
    text-decoration: none;
}

.login-panel a:focus {
    text-decoration: none;
}

.login-panel a {
    font-size: 15px;
}