td{
    font-size: 24px;
}

th{
    font-size: 20px;
}

tr{
  padding-left: 15px;
  padding-right: 15px;
}

team-results .btn-panel{
  border-bottom: solid 1px;
}

/*.quiz-input{*/
    /*text-align:center;*/
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
/*}*/

/*.result, span.inp {*/
  /*padding: 4px 0;*/
    /*border-radius: 30%;*/
    /*color: #ffffff;*/
    /*width: 44px;*/
    /*height: 31px;*/
    /*font-size: 17px;*/
    /*border: none;*/
/*}*/

/*span.inp {*/
  /*margin: 5px;*/
/*}*/

team-results .edited {
    box-shadow: 0px 0px 4px 3px #ffbc35;
}

team-results .total-score,
team-results #total-title{
  text-align: center;
}

team-results .date{
    float: right;
}

team-results.team-total{
   color: #0085ff;
}

@media screen and (max-width: 720px) {

  team-results .btn-panel {
    padding-left: 15px;
    padding-right: 15px;
  }

  team-results table, thead, tbody, th, td, tr {
    display: block;
  }

  team-results td.round-name.ng-binding {
    font-size: 18px;
    vertical-align: middle;
    width: auto;
  }

  team-results td{
    padding-left: 0;
    padding-right: 0;
    font-size: 16pt;
  }

  team-results tr{
    position: relative;
    border-bottom: 1px solid lightgrey;
  }

  .table>tbody>tr>td, .table>tbody>tr>th,
  .table>thead>tr>td, .table>thead>tr>th{
    border: none;
    padding-right: 0;
    padding-left: 0;
  }

  team-results td.total-score {
    position: absolute;
    right: 15px;
    top: 0;
    padding: 0px;
  }

  team-results table tr td.quiz-row {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  team-results thead {
    display: none;
  }

  /*team-results span.inp:nth-child(5) {*/
    /*margin-right: 5px;*/
  /*}*/

  /*team-results label#default-result.inp-label:nth-child(5) {*/
    /*margin-right: 0;*/
  /*}*/

  team-results .date {
    float: none;
    display: block;
    margin-bottom: 5px;
  }
}
