#captain-result{
    border-radius: 100px;
    display: inline-block;
    padding: 2px;
    margin-top: 3px;
    background-color: #ccc;
}
#captain-result label{
    font-size: 12pt;
    margin: 2px;
    padding: 4px;
    cursor: pointer;
    width: 30px;
    text-align: center;
}
#captain-result input[type=radio]:checked + label{
    background-color: white;
    border-radius: 50%;
}
#captain-result input[type=radio]{
    display: none;
}