auction-result .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

auction-result .switch input {
  display: none;
}

auction-result .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  background-color: #ED8282;
  -webkit-transition: .4s;
  transition: .4s;
}

auction-result .slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

auction-result input:checked + .slider {
  background-color: #81EA89;
}

auction-result input:focus + .slider {
  box-shadow: 0 0 1px #81EA89;
}

auction-result input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

auction-result .slider.round {
  border-radius: 30px;
}

auction-result .slider.round:before {
  border-radius: 50%;
}

auction-result .result-rate {
  float: left;
  display: inline-block;
  height: 32px;
  width: 70px;
  margin-right: 5px;
}

auction-result .result {
  padding: 4px 0;
  border-radius: 30%;
  text-align: center;
  color: white;
  width: 44px;
  height: 31px;
  font-size: 14pt;
  border: none;
}

auction-result .result-label .btn[disabled] {
  cursor: default;
  opacity: 1;
}

@media screen and (max-width: 720px){
  auction-result .result-label{
    width: 20%;
    margin:0 0 10px 0;
  }
}

