.team-name{
    cursor: pointer;
}
.header{
    text-align: center;
}

.game-rating{
    cursor: pointer;
}

.missed-game {
    color: red;
}

.close-season{
    float: right;
}

.season-alert {
   font-size: 24px;
    padding-top: 10px;
}