default-result .result-label{
  margin-right: 1%;
  text-align: left;
}

default-result .result-label .btn[disabled] {
  cursor: default;
  opacity: 1;
}

default-result .result{
  padding: 4px 0;
  border-radius: 30%;
  color: white;
  width: 44px;
  height: 31px;
  font-size: 14pt;
  border: none;
}

default-result .weight-input {
  display: inline-table;
  vertical-align: middle;
}

@media screen and (min-width: 721px){
  default-result .result-label:nth-child(5n+5) {
    margin-right: 20px;
  }
}

@media screen and (max-width: 720px){
  default-result .result-label{
    width: 20%;
    margin:0 0 10px 0;
  }
}
