#team-name {
    margin-bottom: 20px;
}

#captain-name {
    margin-bottom: 20px;
}

#captain-phone {
    margin-bottom: 20px;
}

#team-size {
    margin-bottom: 20px;
    width: 75px;
}

.form-control.ng-invalid.ng-not-empty {
    border-color: #ff9b9b;
    box-shadow: 0 0 20px 0 #ff9b9b;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: block;
    width: 550px;
    margin: auto;
}

input {
    margin-top: 5px;
}

span.err {
    color: #f00;
    float: right;
}

label {
    margin: 0;
}

#team-name_dropdown {
    width: 100%;
}


.animate-block.ng-hide-add {
    transition: 0.2s linear all;
    opacity: 1;
    transform: translateX(0);

}

.animate-block.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    transform: translateX(-20%);
}

.animate-block.ng-hide-remove {
    transition: 0.2s linear all;
    opacity: 0;
    transform: translateX(-20%);
}

.animate-block.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    transform: translateX(0);
}