<div class="container">
    <div class="row">
        <button class="btn btn-success" ng-click="$ctrl.onBack()">Back</button>
    </div>

    <div class="col-md-6 col-md-offset-3">

        <form ng-submit="$ctrl.saveRequest()" name="request">
            <div class="header">
                <h1> Mead Head Show</h1>
                <h2>Registration for the game {{$ctrl.gameDate}}</h2>
            </div>


            <div class="team-name-spans">
                <label for="team-name" class="control-label"> Team name </label>
                <span ng-show="request.team.$error.minlength" class="err">
                  Minimum 3 characters</span>
                <span ng-show="request.team.$error.maxlength" class="err">
                  Maximum 40 characters</span>
            </div>
            <input id="team-name" class="form-control" placeholder="Team name"
                   type="text" name="team" ng-model="$ctrl.teamName" ng-maxlength="35" minlength="2"
                   ng-model-options="{'updateOn': 'default blur','debounce': {'default': 1000,'blur': 0}}"
                   required>

            <div class="captain-name-spans">
                <label for="captain-name" class="control-label"> Captain full name </label>
                <span ng-show="request.name.$error.minlength" class="err">
                  Minimum 3 characters</span>
                <span ng-show="request.name.$error.maxlength" class="err">
                  Maximum 40 characters</span>
            </div>
            <input id="captain-name" class="form-control" placeholder="John Doe"
                   name="name" ng-model="$ctrl.fullName" ng-maxlength="40" minlength="3"
                   ng-model-options="{'updateOn': 'default blur','debounce': {'default': 1500,'blur': 0}}"
                   required>

            <div class="phone-spans">
                <span ng-show="request.phone.$error.minlength" class="err">
                  Minimum 10 numbers</span>
                <span ng-show="request.phone.$error.maxlength" class="err">
                  Maximum 13 numbers</span>
                <!--<span ng-show="request.phone.$invalid && !(request.phone.$error.minlength || request.phone.$error.maxlength)" class="err">-->
                              <!--Wrong format</span>-->

                <label for="captain-phone" class="control-label"> Captain phone number </label>
            </div>
            <input id="captain-phone" class="form-control" placeholder="xxx xxx xxxx"
                   type="text" ng-model="$ctrl.phone" name="phone" maxlength="13" minlength="10"
                   ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/"
                   ng-model-options="{'updateOn': 'default blur','debounce': {'default': 1500,'blur': 0}}" required>

            <label for="team-size" class="control-label"> Team size </label>
            <input id="team-size" ng-model="$ctrl.teamSize" class="form-control" type="number" min="2" max="15" required>

            <button class=" btn btn-success btn-block" type="submit"> Submit</button>
            <div class="alert alert-dismissible alert-success" ng-show="$ctrl.submitted">
                <strong>Well done!</strong> Your request have been sent!
            </div>
        </form>
    </div>
</div>
</div>
