.form-control.ng-invalid {
    color:white;
    background: red;
}
.form-control {
    transition:all linear 0.5s;
    background: transparent;
}
#team-name{
    margin-bottom: 10px;
}
#team-size{
    margin-bottom: 10px;
}
#captain-name{
    margin-bottom: 10px;
}
#captain-phone{
    margin-bottom: 10px;
}
#team-size{
    width: 75px;
}