td{
    font-size: 24px;
}
th{
    font-size: 28px;
}
h1{
    border-bottom: solid 1px;
}
.btn-silver{
 height: 40px;
}
input#inp{
    height: 31px;
    font-size: 17px;
    display: inline-block;
    width: 44px;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 30%;
    color: #ffffff;
    text-align:center;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.container,html{
    height: 100%;
}
td.ng-binding{
    font-size: 33px;
    width: 200px;
    text-align: center;
}
td.total-point{
    font-weight: bold;
}
td#quiz-block{
    width: 130px;
    font-size: 24px;
    padding: 0;
}
td#round{
    font-size: 23px;
}
#total, #round{
    vertical-align: middle;
}

#round {
    text-align: left;
}
#total{
    vertical-align: middle;
}
th.total{
    text-align: center;
}
.silver-total{
    color:#D4D4D4;
}
