
button.btn{
    font-size: 10px;
    float:right;
}
td#quizzes{
    font-size: 24px;
    padding: 0;
}
td{
    font-size: 24px;
}
th{
    font-size: 28px;
    text-align: center;
}
h1{
    margin-top: 10%;
    margin-bottom: 3%;
    padding-bottom: 2%;
    border-bottom: solid 1px;
    text-align: center;
}
a{
    display: inline-block;
    width: 60px;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30%;
    background: #b3b3ff;
    color: #ffffff;
    text-align:center;
}
.quiz-block{
    margin:auto;
    width: 350px;
}

#total, #round{
    vertical-align: middle;
}
td.ng-binding{
    font-size: 35px;
    width: 200px;
    text-align: center;
}
td.total-point{
    font-weight: bold;
}

.green-total{
    color: green;
}
.red{
    color: red;
}

@media (max-width:700px){
    .quiz-block{
        width: auto;
    }
    td.ng-binding{
        font-size: 15px;
        width: 50px;
        text-align: center;
        vertical-align: middle;
    }
    th{
        font-size: 15px;
    }
    a{

    }
}
