#container, html {
    height: 100%;
}

.btn-delete {
    border-radius: 100%;
    float: right;
}

.btn-next {
    margin-top: 50px;
}

.row {
    margin-bottom: 15px;
}

label {
    font-size: 16px;
}

select {
    width: 30%;
    float: right;
}

.add-team-form {
    padding-top: 10%;
}

#or {
    padding-left: 12%;
    padding-bottom: 3%;
}

#team-name {
    font-size: 20px;
    font-weight: bold;
}

.list-item {
    border-radius: 10px;
    border: solid 3px lightblue;
    padding: 10px;
}

.scroll-panel{
    height: 700px;
    overflow: auto;
    white-space: nowrap;
}

.selected{
    background-color: green;
}