#container,html{
    height: 100%;
}
.btn-delete {
    border-radius: 100%;
    float: right;
}

.btn-next {
    margin-top: 50px;

}

.row{
    margin-bottom: 15px;
}
label{
    padding: 5px;
    font-size: 16px;
}

select{
    width: 30%;
    float: right;
}
.add-team-form{
    padding-top: 10%;
}

#or{
    padding-left: 12%;
    padding-bottom: 3%;
}
#team-name{
    font-size: 20px;
    font-weight: bold;
}
.list-item{
    border-radius: 50%;
    border:solid 1px lightblue;
}