#container, html {
    height: 100%;
}

.btn-delete {
    border-radius: 100%;
    float: right;
}

.btn-next {
    margin-top: 50px;
}

select {
    width: 30%;
    float: right;
}

.add-team-form {
    padding-top: 10%;
}

#or {
    padding-left: 12%;
    padding-bottom: 3%;
}

.request-details {
    margin-left: 5%;
    font-size: 14px;
    padding: 5px;
    width: 70%;
}

.request-details p {
    margin: 0;
}

.scroll-panel {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    border: solid 2px lightgrey;
    border-radius: 10px;
    padding-top: 20px;
    margin-top: 10px;
}

.selected {
    background-color: #5bc0de;
}

.list-item {
    width: 80%;
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
    float: left;
    cursor: pointer;
}
.request-controls > .btn{
    padding: 0;
    margin: 0 5px;
}

.scroll-panel::-webkit-scrollbar {
    width: 16px;
}

.scroll-panel::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.scroll-panel::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
}

.selected-tabs {
    background-color: silver;
}

.animate-teams, .animate-requests {
    list-style: none;
    box-sizing: border-box;
    margin: 10px 0;
}

.animate-teams.ng-enter {
    transition: 0.4s linear all;
    opacity: 0;
    transform: translateX(-100%);
}

.animate-teams.ng-enter.ng-enter-active {
    opacity: 1;
    transform: translateX(0);
}

.animate-teams.ng-leave {
    transition: 0.2s linear all;
    opacity: 1;
    transform: translateX(0);
}

.animate-teams.ng-leave.ng-leave-active {
    opacity: 0;
    transform: translateX(-100%);
}

.animate-requests.ng-enter {
    transition: 0.4s linear all;
    opacity: 0;
    transform: translateX(100%);
}

.animate-requests.ng-enter.ng-enter-active {
    opacity: 1;
    transform: translateX(0);
}

.animate-requests.ng-leave {
    transition: 0.2s linear all;
    opacity: 1;
    transform: translateX(0);
}

.animate-requests.ng-leave.ng-leave-active {
    opacity: 0;
    transform: translateX(100%);
}

.request-details.ng-hide-add {
    transition: 0.2s linear all;
    opacity: 1;
    transform: translateY(0);

}

.request-details.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    transform: translateY(-50%);
}

.request-details.ng-hide-remove {
    transition: 0.2s linear all;
    opacity: 0;
    transform: translateY(-50%);
}

.request-details.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    transform: translateY(0);
}

.editable-team-size {
    border: none;
    outline: none;
    width: 14%;
    font-weight: bold;
}

.editable-team-size.ng-invalid {
    color: red;
}
.print-button{
    float: right;
    margin-top: 14px;
    cursor: pointer;
}