<div class="container">
    <div class="form-group" ng-repeat="team in $ctrl.teams">
    <label class="control-label">Team{{$index+1}}</label>
    <div class="input-group">
        <input type="text" placeholder="Team1" class="form-control" ng-model='team.name'}>
        <span class="input-group-btn" ng-click="$ctrl.deleteTeam($index)">
                <button class="btn btn-primary" type="button">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
            </span>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a id="addButton" class="btn btn-success btn-add" ng-click="$ctrl.addTeam()">+</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button ng-click="$ctrl.saveTeams()" class="form-control btn btn-info btn-next btn-block">Next</button>
    </div>
</div>
</div>