<div class="container">
    <div class="col-md-5 col-md-offset-1">
        <uib-tabset>
            <uib-tab heading="Unconfirmed">
                <ul class="scroll-panel">
                    <li class="animate-requests"
                        ng-repeat="team in $ctrl.requests | filter:{status:'unconfirmed'}">
                        <span class="btn list-item" ng-click="showDetails = ! showDetails">{{team.teamName}}</span>
                        <span class="btn" ng-click="$ctrl.archivateRequest(team.$id)">
                            <i class="fa fa-archive" aria-hidden="true"></i>
                        </span>
                        <span class="btn"
                              ng-click="$ctrl.addTeamToGame(team)">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                        <div class="request-details" ng-show="showDetails">
                            <p>Captain full name: <strong>{{team.fullName}}</strong></p>
                            <p>Captain phone number: <strong>{{team.phone}}</strong></p>
                            <p>Team size: <strong>{{team.teamSize}}</strong></p>
                        </div>
                    </li>
                </ul>
            </uib-tab>
            <uib-tab heading="Archived">
                <ul class="scroll-panel">
                    <li class="animate-requests"
                        ng-repeat="team in $ctrl.requests | filter:{status:'archived'}"
                    >
                        <span class="btn list-item" ng-click="showDetails = ! showDetails">{{team.teamName}}</span>
                        <span class="btn" ng-click="$ctrl.unArchivateRequest(team.$id)"><i class="fa fa-archive"
                                                                                           aria-hidden="true"></i></span>
                        <span class="btn"
                              ng-click="$ctrl.addTeamToGame(team)">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                        <div class="request-details" ng-show="showDetails">
                            <p>Captain full name: <strong>{{team.fullName}}</strong></p>
                            <p>Captain phone number: <strong>{{team.phone}}</strong></p>
                            <p>Team size: <strong>{{team.teamSize}}</strong></p>
                        </div>
                    </li>
                </ul>
            </uib-tab>
        </uib-tabset>

    </div>

    <div class="col-md-2"></div>
    <div class="col-md-5">
        <uib-tabset>
            <uib-tab heading="Confirmed">

                <ul class="scroll-panel">
                    <li class="animate-teams"
                        ng-repeat="team in $ctrl.teams">
                        <span class="btn list-item" ng-click="showDetails = ! showDetails"
                        >{{team.name}}</span>
                        <span class="btn" ng-click="$ctrl.unConfirmRequest(team)"><i class="fa fa-times"
                                                                                     aria-hidden="true"></i></span>

                        <div class="request-details" ng-show="showDetails">
                            <p>Captain full name: <strong>{{team.fullName}}</strong></p>
                            <p>Captain phone number: <strong>{{team.phone}}</strong></p>
                            <p>Team size: <strong>{{team.teamSize}}</strong></p>
                        </div>
                    </li>
                </ul>
            </uib-tab>
        </uib-tabset>
    </div>

</div>
