<div class="col-md-8 col-md-offset-2">
  <div class="content">
    <form ng-submit="$ctrl.saveRounds()">
      <div class="form-group">
        <label>{{'SELECT_TEMPLATE_LABEL' | translate}}</label>
        <div class="input-group">
          <select class="form-control"
                  ng-model="selectedTemplate"
                  ng-options="template.name for template in $ctrl.templates
                             | filter : $ctrl.templateNameFilter()">
            <option value="">{{$ctrl.templateName}}</option>
          </select>
          <span class="input-group-btn">
            <span class="btn btn-success" ng-click="$ctrl.selectTemplate(selectedTemplate)">
              {{'SELECT_TEMPLATE_BUTTON' | translate}}
            </span>
          </span>
        </div>
      </div>
      <round-builder rounds="$ctrl.configRounds"></round-builder>
      <button id="btn-save"
              class="btn btn-success btn-block"
              type="submit">
        {{'SAVE_ROUNDS_BUTTON' | translate}}
      </button>
    </form>


    <form id="template-form"
          ng-if="$ctrl.templateFormShow"
          ng-hide="$ctrl.rounds.length <1">
      <div class="form-group">
        <label>{{'TEMPLATE_NAME_LABEL' | translate}}</label>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="$ctrl.templateName" required>
          <span class="input-group-btn">
            <button class="btn btn-success" type="submit" ng-click="$ctrl.saveTemplate()">
              {{'SAVE_TEMPLATE_FROM_GAME_BUTTON' | translate}}
            </button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>


