.content{
    margin-top: 20px;
}

.td-round-number {
    margin: 20px;
    max-width: 20px;
    max-height: 15px;
}

.td-start {
  margin: 20px;
  max-width: 75px;
  max-height: 15px;
}

.round-name {
    max-width: 300px;
}

#btn-save{
    margin-top: 20px;
}

.count-quest {
    max-width: 140px;
}

#template-form{
    margin-top: 20px;
}

