/*.container,html{
    height: 100%;
}*/
td{
    font-size: 20px;
    PADDING: 2PX;
}

th{
    font-size: 23px;
}
h1{
    padding-bottom: 1%;
    border-bottom: solid 1px;
    text-align: center;
}
button.btn.btn-success{
    margin-left: 1%;
}

.fb-share-button {
    float: right;
}