/*.container,html{
    height: 100%;
}*/
#fb-share-button {
    float: right;
    background: #3b5998;
    border-radius: 3px;
    font-weight: 600;
    padding: 8px 8px;
    height: 33px;
    display: inline-block;
    position: static;
}
.fa-facebook {
    color: white;
}

.photos-link {
    line-height: 280%;
    float: right;
    margin-right: 28px;
}
.photos-link-editor{
    line-height: 280%;
    float: right;
    margin-right: 8px;
}

#fb-share-button:hover {
    cursor: pointer;
    background: #213A6F
}

#fb-share-button span {
    vertical-align: middle;
    color: white;
    font-size: 14px;
    padding: 0 3px
}

td.td-cell{
    font-size: 20px;
}
th.th-cell.round-number{
    padding-right: 0.9em;
}
td.round-score, td.total-score,
th.round-number, th.total-title{
    text-align: right;
}
th{
    font-size: 23px;
}
h1#game-results{
    padding-bottom: 1%;
    border-bottom: solid 1px;
    text-align: center;
}
span.ng-binding.date{
    float: right;
}
.link-icon{
    cursor: pointer;
    margin-left: 5px;
    font-size: 18px;
}
.photosUrlContainer{
    display: inline-block;
}
.photos-url-editor{
    display: inline-block;
    width: auto;
}
.no-photos-link{
    color: #515151;
    font-style: italic;
}