<div id="weight-label">{{"NUMBER_OF_POINTS"|translate}}: {{quizWeight}}</div>
<div class="form-group row captains-round-quiz">
  <ul id="team-list">
    <li *ngFor="let result of results | orderBy: 'teamName'" class="team">
      <label class="clickable-label" [ngClass]="{'disabled':isDisabled(result.teamId)}">

        <div class="result-control">
          <input type="checkbox"
                 [(ngModel)]="result.status"
                 (change)="save(result)"
                 class="score-by-checkbox"
                 [disabled]="isDisabled(result.teamId)">
        </div>
        <div class="team-name">{{result.teamName}}</div>
      </label>
    </li>
  </ul>
</div>
