<div id="create-game-comp" class="container">
    <form name="createForm">
        <div class="col-md-2">
          <app-date-picker (date)="$ctrl.setGameDate($event)"></app-date-picker>
        </div>
        <div class="col-md-2">
          <app-time-picker (time)="$ctrl.setGameTime($event)"></app-time-picker>
        </div>
        <div class="col-md-2">
            <div class="location">
                <input class="form-control" ng-model="$ctrl.location"
                       maxlength="34"
                       name="location"
                       required
                       placeholder="{{'LOCATION_PLACEHOLDER' | translate}}"></div>
        </div>
        <div class="col-md-3">
          <app-season-picker (is-season-game-event)="$ctrl.setIsSeasonGame($event)"
                             (current-season)="$ctrl.setSeason($event)"></app-season-picker>
        </div>
        <button id="game-build" type="submit" class=" btn btn-info"
                ng-click="$ctrl.createNewGame()" ng-disabled="createForm.$invalid||$ctrl.isSeasonEditor">
            {{'CREATE_GAME_BUTTON' | translate}}
        </button>
    </form>
    <span id="err-message" class="text-danger" ng-show="createForm.$error.time">
        {{'WRONG_TIME_ERROR'|translate}}
    </span>
</div>
