<div id="create-game-comp" class="container">
  <mhs-game-setup [defaultDate]="defaultDate"
                  [defaultTime]="defaultTime"
                  [defaultLocation]="location"
                  (date)="setGameDate($event)"
                  (time)="setGameTime($event)"
                  (isSeasonGame)="setIsSeasonGame($event)"
                  (season)="setSeason($event)"
                  (location)="setGameLocation($event)"
                  #gameSetup>
  </mhs-game-setup>
    <button id="game-build" type="submit" class=" btn btn-info"
            (click)="createNewGame()" [disabled]="gameSetup.locationInput.invalid">
      {{'CREATE_GAME_BUTTON' | translate}}
    </button>
</div>
