.LockOn {
  display: block;
  visibility: visible;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  padding-top: 20%;
  filter: alpha(opacity=75);
  opacity: 0.75;
  font-size: large;
  color: blue;
  font-style: italic;
  font-weight: 400;
  background: white url("spinner.svg") no-repeat fixed center;
  background-size: 200px 200px;
}
