.list-item {
    width: 100%;
    display: inline-block;
    text-align: left;
    margin: 0;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    line-height: 210%;
}
.list-item:hover{
    background-color: #f5f5f5;
}
.delete-btn{
    float: right;
}
.template-list{
    padding: 0px;
    list-style: none
}
.new-template-btn{
    text-align: center;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 6px 12px;
}
.template-name-title{
    font-weight: bold;
}
.new-template{
    }
.selected{
    background-color: #D8D8D8;
}
.selected:hover{
    background-color: #D8D8D8;
}