<div class="col-md-6 ">
    <ul class="scroll-panel">
        <li>
            <div class="new-template">
                <span class="btn btn-success btn-block new-template-btn" ng-click="$ctrl.newTemplate()">
                Create new template
            </span>
            </div>
        </li>
        <li ng-click="$ctrl.showTemplate(template.$id)"
            ng-repeat="template in $ctrl.templates">
            <span class="list-item">{{template.name}}
                <button class="btn btn-danger delete-btn" ng-click="$ctrl.deleteTemplate(template.$id)">
                    {{'DELETE_ROUND_BUTTON' | translate}}
                </button>
            </span>
        </li>
    </ul>
</div>
<div class="col-md-1"></div>