    <table class=" table-sm table-hover template-table">
    <thead>
    <tr>
        <th class="title">
            <button class="btn btn-success btn-block new-template-btn" ng-click="$ctrl.newTemplate()">
                Create new template</button>
        </th>
    </tr>
    </thead>
    <tbody>
        <tr class="template-row" ng-click="">
            <td>
                <div ng-repeat="template in $ctrl.templates">
                    <div ng-click="$ctrl.showTemplate(template.$id)" class="template-cell">
                        {{template.name}}
                        <button class="btn btn-danger delete-btn" ng-click="$ctrl.deleteTemplate(template.$id)">
                            {{'DELETE_ROUND_BUTTON' | translate}}
                        </button>
                    </div>
                </div>
            </td>
            <td>

            </td>
        </tr>
    </tbody>
</table>
