finished-game-list .no-games-label {
  font-size: 3em;
  text-align: center;
  color: #c7c7c7;
  padding-top: 1em;
  cursor: default;
}

finished-game-list #select-season-container.row{
  margin:0px;
}

finished-game-list #select-season {
  margin-top: 10px;
  float: right;
  width: 25%
}

finished-game-list .header{
  font-weight: bold;
}

finished-game-list ul.game-list {
  list-style: none;
  padding: 0px;
}

finished-game-list ul.game-list > li:nth-child(even) { background: #f9f9f9; }

finished-game-list .game-list-item > div {
  display: inline-block;
  float: left;
}

finished-game-list .game-list-item {
  padding: 10px 15px;
  margin: 0px;
  border-bottom: 1px lightgrey solid;
  cursor: pointer;
}

finished-game-list .winner-cell{
  width: 30%;
}

finished-game-list .game-date-cell{
  position: relative;
  width: 25%
}

finished-game-list .team-count-cell{
  text-align: center;
  width: 30%;
}

finished-game-list .season-cell{
  width: 15%;
}

finished-game-list .trophy {
  color: goldenrod;
}

finished-game-list .privacy-icon {
  position: absolute;
  left: -10px;
  top: 3px;
}

@media screen and (max-width: 720px){
  finished-game-list .winner-cell{
    width: 37%;
  }

  finished-game-list .game-date-cell{
    width: 17%
  }

  finished-game-list .team-count-cell{
    width: 20%;
  }

  finished-game-list .season-cell{
    width: 25%;
    text-align: center;
  }

  finished-game-list #select-season {
    margin: 10px 15px;
    width: -webkit-fill-available;
  }
}


