<div ng-if="$ctrl.games.length == 0" class="no-games-label" colspan="4">{{'NO_FINISHED_GAME_PLACEHOLDER' | translate}}
</div>
<div ng-if="$ctrl.games.length != 0 && $ctrl.games.length !== undefined">
  <div class="row" id="select-season-container" >
    <select id="select-season" class="form-control" ng-model="$ctrl.selectedSeason"
            ng-options="season.name for season in $ctrl.seasons">
      <option value="">{{'ALL_SEASONS_SELECT'|translate}}</option>
    </select>
  </div>
  <ul class="game-list">
    <li>
      <div class="row game-list-item header">
        <div class="game-date-cell">{{'DATE_LABEL' | translate}}</div>
        <div class="winner-cell">{{'WINNER_TEAM_LABEL' | translate}}</div>
        <div class="team-count-cell">{{'NUMBER_OF_TEAMS_LABEL' | translate}}</div>
        <div class="season-cell">{{'GAME_SEASON_LABEL' | translate}}</div>
      </div>
    </li>
    <li ng-repeat="game in $ctrl.games | filter:$ctrl.selectedSeason.id |orderBy:'-date'"
        ng-click="$ctrl.openGameInfo(game.$id)">
      <div class="row game-list-item">
        <div class="game-date-cell">{{game.date | date:'d MMM y'}}</div>
        <div class="winner-cell">
          <div ng-repeat="winner in game.winner">
            <i id="trophy" class="fa fa-trophy"></i>
            {{winner.name}}
          </div>
        </div>
        <div class="team-count-cell team-count-value">{{game.teamsNumber}}</div>
        <div class="season-cell" ng-click="$event.stopPropagation();">
          <a ng-href='/#!/seasons/{{game.season.id}}'>
            {{game.season.name}}
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
