#container, html {
  height: 100%;
}

.game-property {
}

h1 {
  margin-top: 10%;
  margin-bottom: 3%;
  padding-bottom: 2%;
  border-bottom: solid 1px;
  text-align: center;
}

#trophy {
  color: goldenrod;
}

.game-row {
  cursor: pointer;
}

.game-button {
  float: right;
  margin-left: 10px;
  font-size: 12px;
}

#err-message {
  position: absolute;
}

.registration {
  float: right;
  margin-top: 1%;
}

