.delete-game-alert {
    width: 300px;
    margin: 6% 0 0 0;
    position: absolute;
    right: 0;
    z-index: 999999;
}

.games td {
    position: relative;
}

.no-games-label {
    background: #fff;
    font-size: 4em;
    text-align: center;
    color: #c7c7c7;
    padding-top: 1em;
    cursor: default;
  width: 100%;
}
