open-game-list .no-games-label {
  font-size: 3em;
  text-align: center;
  color: #c7c7c7;
  padding-top: 1em;
  cursor: default;
}

open-game-list .header {
  font-weight: bold;
}

open-game-list ul.game-list {
  list-style: none;
  padding: 0px;
}

open-game-list .game-list-item > div {
  display: inline-block;
  float: left;
}

open-game-list .game-list-item {
  padding: 10px 15px;
  margin: 0px;
  border-bottom: 1px lightgrey solid;
  cursor: default;
}

open-game-list div.buttons-panel > .btn ~ .btn {
  margin: 0px 5px 0px 0px;
}

open-game-list div.buttons-panel > .btn {
  float: right;
}

open-game-list .game-date,
open-game-list .game-time{
  position: relative;
  width: 17%;
}


open-game-list .game-location {
  width: 21%;
}

open-game-list .game-season {
  width: 15%;
}

open-game-list .buttons-panel {
  width: 30%;
}

open-game-list .wide-panel {
  width: 45%;
}

@media screen and (max-width: 750px) {
  open-game-list .game-date {
    width: 25%;
  }

  open-game-list .game-time,
  open-game-list .game-season{
    width: 20%;
  }

  open-game-list .game-location {
    width: 35%;
  }

  open-game-list .buttons-panel {
    margin-top: 1%;
    width: 100%;
  }

  open-game-list .register-button,
  open-game-list .request-button {
    width: 49%;
  }
}
