td {
    font-size: 24px;
}

th {
    font-size: 20px;
}

h1 {
    border-bottom: solid 1px;
}

span.inp {
    margin: 5px;
}

.quiz-input {
    background: 0;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.quiz-input, span.inp {
    border-radius: 30%;
    color: #ffffff;
    display: inline-block;
    width: 44px;
    height: 31px;
    font-size: 17px;
    border: none;
}

.edited {
    box-shadow: 0px 0px 4px 3px #ffbc35;
}

span.inp:nth-child(5) {
    margin-right: 30px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*.container,html{*/
/*height: 100%;*/
/*}*/
td.ng-binding {
    font-size: 20px;
    width: 200px;
    text-align: center;
}

td.total-point {
    font-weight: bold;
}

th#quiz-title, table tr td.quiz-row {
    width: 57%;
    font-size: 20px;
    padding: 0 0 0 7%;
}

td.round-name.ng-binding {
    font-size: 14px;
    text-align: left;
    vertical-align: middle;
}

#total, #round {
    vertical-align: middle;
}

th#total-title {
    padding-right: 3%;
    text-align: right;
}

td.total-score.ng-binding {
    padding-right: 40px;
    text-align: right;
    vertical-align: middle;
}

th.total {
    text-align: right;
}

.silver-total {
    color: #D4D4D4;
}

.date {
    float: right;
}

.team-total {
    color: #0085ff;
}
