td {
    font-size: 24px;
}

th {
    font-size: 20px;
}

h1 {
    border-bottom: solid 1px;
}

span.inp {
    margin: 5px;
}

.quiz-input {
    background: 0;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.quiz-input, span.inp {
    border-radius: 30%;
    color: #ffffff;
    display: inline-block;
    width: 44px;
    height: 31px;
    font-size: 17px;
    border: none;
}

.edited {
    box-shadow: 0px 0px 4px 3px #ffbc35;
}

span.inp:nth-child(5) {
    margin-right: 30px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*.container,html{*/
/*height: 100%;*/
/*}*/
td.ng-binding {
    font-size: 20px;
    width: 200px;
    text-align: center;
}

td.total-point {
    font-weight: bold;
}

th#quiz-title, table tr td.quiz-row {
    width: 57%;
    font-size: 20px;
    padding: 0 0 0 7%;
}

td.round-name.ng-binding {
    font-size: 14px;
    text-align: left;
    vertical-align: middle;
}

#total, #round {
    vertical-align: middle;
}

th#total-title {
    padding-right: 3%;
    text-align: right;
}

td.total-score.ng-binding {
    padding-right: 40px;
    text-align: right;
    vertical-align: middle;
}

th.total {
    text-align: right;
}

.silver-total {
    color: #D4D4D4;
}

.date {
    float: right;
}

.team-total {
    color: #0085ff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background-color: #ED8282;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #81EA89;
}

input:focus + .slider {
    box-shadow: 0 0 1px #81EA89;
}

input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}

.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}

.result-control {
    margin-right: 20px;
}

