.auth-panel {
  border-left: 1px solid #333;
}

.manage-teams-dropdown {
  width: 20px;
}

#login-button {
  position: relative;
  display: block;
  padding: 10px 15px;
}

#online-flag{
  padding-top: 15px;
}

ul.navbar-nav {
  margin-bottom: 0px;
  margin-top: 0px;
}

login-panel {
  margin-top: 5px;
}

.online{
  color: #5cb85c;
}

.offline {
  color: #d9534f;
}

@media screen and (max-width: 720px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
