.scroll-panel {
    height: 500px;
    overflow: auto;
    white-space: nowrap;
    border: solid 2px lightgrey;
    border-radius: 10px;
    padding-top: 20px;
    margin-top: 10px;
}

.selected {
    background-color: #5bc0de;
}

.list-item {
    text-align: left;
    width: 97%;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.scroll-panel::-webkit-scrollbar {
    width: 16px;
}

.scroll-panel::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.scroll-panel::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.selected-tabs {
    background-color: silver;
}

.editable-team {
    border: none;
    outline: none;
    width: 40%;
}

.team-name-changed-alert {
    position: fixed;
    right: 6.4%;
    top: 16%;
    width: 200px;
    height: 53px;
    display: block;
    z-index: 99999999;
}

.teams-property {
    font-size: 20px;
}

.editable-icon {
    display: none;
}

.editable-team:focus + .editable-icon {
    display: inline;
}

.editable-team:hover + .editable-icon {
    display: inline;
}

.editable-team:disabled {
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
}

.editable-team:enabled {
    border: 1px solid #4d90fe;
    width: 100%;
}

ul {
    list-style: none;
}

.pensile {
    position: absolute;
    padding-left: 20%;
    z-index: 100;
}

.label-pensile {
    position: relative;
    display: inline;
}

.teams {
    font-size: 18px;
    cursor: pointer;
}