h2  {
    margin-top: 5px;
    margin-bottom: 15px;
    padding-bottom: 18px;
    border-bottom: solid 1px;

}

h2 .quiz-name-label{
  position: absolute;
  left: 47%;
}

h2 .round-name-label{

}

#team-list {
    list-style: none;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

#team-list li {
  padding: 5px 0;
}

#team-list label {
    font-size: 14pt;
    line-height: 28px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#team-list input {
    width: 70px;
    display: inline-block;
    margin: 0 10px 0 0;
}

#team-list input[type="number"] {
    height: 32px;
}

#control-panel {
    margin-top: 5px;
}

#control-panel button {
    position: relative;
    margin: 2px 2px;
}

.submit-button {
    float: right;
}

.btn-selected::after {
    position: absolute;
    bottom: -6px;
    height: 2px;
    left: 0px;
    right: 0px;
    transition-property: width;
    content: "";
    background: orange;
}

input[type=checkbox] {
    transform: scale(1.5);
    cursor: pointer;
}

#manual-input {
    font-size: 14pt;
}

#manual-input > input[type=checkbox] {
    margin-top: 5px;
}

.result-control {
    float: left;
}

.team-name {
    overflow: hidden;
    word-wrap: break-word;
}

.disabled {
  color: lightgrey;
}

.counter {
  float: right;
  font-size: 24px;
}

